#userTable thead {
    background-color: #3498db; 
    color: #fff;
}

#userTable tbody tr:hover {
    background-color: #3498db; 
    color: #fff; 
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
}

h4 {
    font-size: 16px;
    margin-top: 10px;
}

p {
    font-size: 14px;
    margin-top: 10px;
}
body {
    font-family: Arial, sans-serif;
}

form {
    width: 50%;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
    text-align: center;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 2px;
    box-sizing: border-box;
    display: block;
    margin: 0;
}

form input[type="submit"] {
    background-color: #3498db; 
    color: white;
    cursor: pointer;
    display: block;
    margin: auto;
}